@import '~highlight.js/styles/github.css';
.markdown {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 5px 10px;
}
.markdown img {
  max-width: 675px;
  margin-left: -5px;
  border-radius: 5px;
  padding: 5px 10px;
}
.markdown a {
  color: #00b5e5;
}
.markdown pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}
.markdown p > code {
  background-color: #fff5f5;
  color: #ff502c;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  padding: 0 10px;
  font-size: 24px;
  border-bottom: 1px solid #ececec;
}
.markdown ul {
  list-style: chocolate;
}
.markdown ul li {
  margin-left: 2px;
}
.markdown p {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.6;
}
.markdown pre {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0;
  word-wrap: normal;
  border-radius: 3px;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  background-color: #e1e1e1;
}
#main-content {
  margin-left: 246px;
  margin-top: 60px;
}
#main-content .post-info:first-child {
  margin-top: 10px;
}
#main-content .button-a {
  color: #eb7350;
  padding-left: 0px;
}
#main-content .author {
  padding: 15px 0 0;
}
#main-content .author .post-avatar {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#main-content .author .author-name {
  padding: 8px 75px 0;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0;
}
#main-content .author .time-meta {
  padding: 0 80px;
  font-size: 4px;
  font-weight: bolder;
  transition: color 0.3s ease;
  color: #99a2aa;
  margin-top: -15px;
}
#main-content .tags {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;
  margin-bottom: 10px;
  padding-top: 10px;
}
#main-content .tags span.tag-a {
  color: #eb7350;
  cursor: pointer;
}
#main-content .tags .time-clock {
  padding-left: 3px;
}
#main-content .excerpt {
  height: 127px;
  background: #fff;
  border-radius: 4px;
  text-align: left;
  position: relative;
  border: 1px solid #e5e9ef;
  overflow: hidden;
  margin: 2px 5px;
}
#main-content .excerpt .thumbnail img {
  width: 30%;
  height: 115px;
  display: inline-block;
  vertical-align: top;
  float: left;
  border-radius: 5%;
  background-size: cover;
  background-position: center center;
  padding: 5px;
}
#main-content .excerpt .article-info {
  vertical-align: top;
  width: 70%;
  height: 100%;
  margin: 5px 0 0 32%;
}
#main-content .excerpt .article-info a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  outline: 0;
  text-decoration: none;
  color: #222;
}
#main-content .excerpt .article-info a .excerpt-title {
  margin: 0 0 8px;
  -webkit-transition: color 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
  transition: color 0.2s cubic-bezier(0.22, 0.58, 0.12, 0.98);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  color: #00a1d6;
  text-align: left;
}
#main-content .excerpt .article-info a .excerpt-info {
  color: #99a2aa;
  font-size: 12px;
  line-height: 30px;
  padding-left: 30px;
  text-align: left;
  margin-left: -31px;
  width: 90%;
}
/*# sourceMappingURL=Posts.css.map */