@import "effects/shadow-and-glow-transitions/_shadow.less";
@import "_hacks.less";
@import "_mixins.less";
@import "_options.less";
@import "effects/shadow-and-glow-transitions/_float-shadow.less";

#main-part{
  width: 955px;
  margin-top: 42px;
  padding: 0 15px;
  float: left;
}

.blog-item {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
  }

.hvr-float-shadow{
  .float-shadow()
}

svg{
  color: #55acee;
  padding: 0 5px;
  width: 0.8em;
  height: 0.8em;
}

.main-wrap{
  width: 1280px;
  margin: 16px auto 0 192px;
  max-width: 100%;

  .main-container {
    width: 75%;
    padding: 0 8px;
      .ant-pagination {
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        color: #40a9ff;;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        -webkit-font-feature-settings: 'tnum';
        font-feature-settings: 'tnum', "tnum";
        list-style: none;
      }

      .ant-pagination-item-active a {
        color: #1890ff;
      }
      .ant-pagination-disabled, .ant-pagination-disabled:hover, .ant-pagination-disabled:focus {
          cursor: not-allowed;
      }
      .ant-pagination-prev, .ant-pagination-next { outline: 0;}
      .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next {
        display: inline-block;
        min-width: 28px;
        height: 28px;
        color: rgba(0, 0, 0, 0.65);
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        list-style: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .ant-pagination-options-quick-jumper {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        vertical-align: top;
        color: #00b5e5;
      }
      .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
        display: block;
        height: 100%;
        font-size: 12px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        outline: none;
        -webkit-transition: all .3s;
        transition: all .3s;
        padding: 0 50px;
    }
      .ant-pagination-item-active {
        font-weight: 500;
        background: transparent;
        border-color: #1890ff;
    }
      .ant-pagination-item {
          display: inline-block;
          min-width: 28px;
          height: 28px;
          margin-right: 8px;
          line-height: 28px;
          text-align: center;
          vertical-align: middle;
          list-style: none;
          background-color: #fff;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          outline: 0;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          padding: 0 5px;
      }
      .ant-pagination-options {
          display: inline-block;
          margin-left: 16px;
          vertical-align: middle;
      }
        .ant-pagination-options-quick-jumper input {
          position: relative;
          display: inline-block;
          height: 20px;
          padding: 4px 11px;
          color: rgba(0,0,0,0.65);
          font-size: 14px;
          line-height: 1.5;
          background-color: #fff;
          background-image: none;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -webkit-transition: all .3s;
          transition: all .3s;
          width: 50px;
          margin: 0 8px;
      }

      .ant-pagination-prev>a, .ant-pagination-next>a{
        color: #aaaaaa;
      }

      .ant-pagination-prev {
        padding-left: 70px;
        padding-right: 8px;
      }
    }
  }

a {
  text-decoration: none;
  color: #222222;
}

#Home{
  min-height: 1000px;
  a {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .button-a {
    border: none;
    background-color: #fff
  }
}


