.main-container .archive {
  background-color: #ffffff;
  border-radius: 4px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.main-container .archive .archive-title {
  margin-left: -50px;
  position: relative;
  top: -6px;
}
.main-container .archive .month-detail {
  margin-left: -50px;
}
.main-container .archive .month-detail .archive-sub-title {
  width: 50px;
  position: relative;
  top: -22px;
  left: 15px;
  float: left;
}
.main-container .archive .month-detail .post-date {
  margin: 0 4px;
  font-size: 16px;
}
.main-container .archive .month-detail a {
  color: #00a1d6;
}
.main-container .archive .month-detail .ant-timeline-sub {
  margin-left: 10px;
}
.main-container .archive .ant-timeline {
  margin: 10px 20px 5px;
  padding-left: 50px;
  list-style: none;
}
.main-container .archive .ant-timeline-item {
  position: relative;
  margin: 0;
  padding: 0 0 20px;
  font-size: 14px;
  list-style: none;
}
.main-container .archive .ant-timeline-item-tail {
  position: absolute;
  top: 0.75em;
  left: 6px;
  height: 100%;
  border-left: 2px solid #e8e8e8;
}
.main-container .archive .ant-timeline-item-pending .main-container .archive .ant-timeline-item-head {
  font-size: 14px;
}
.main-container .archive .ant-timeline-item-pending .main-container .archive .ant-timeline-item-tail {
  display: none;
}
.main-container .archive .ant-timeline-item-head {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 100px;
}
.main-container .archive .ant-timeline-item-head-blue {
  color: #00a1d6;
  border-color: #1890ff;
}
.main-container .archive .ant-timeline-item-head-green {
  color: #52c41a;
  border-color: #52c41a;
}
.main-container .archive .ant-timeline-item-head-red {
  color: #f5222d;
  border-color: #f5222d;
}
.main-container .archive .ant-timeline-item-head-custom {
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 3px 1px;
  line-height: 1;
  text-align: center;
  border: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);
}
.main-container .archive .ant-timeline-item-content {
  position: relative;
  top: -4px;
  margin: 0 0 0 18px;
}
.main-container .archive .ant-timeline-item-last > .'ant-timeline'-item-tail {
  display: none;
}
.main-container .archive .ant-timeline-item-last > .'ant-timeline'-item-content {
  min-height: 48px;
}
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-tail,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-tail,
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-head,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-head,
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-head-custom,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-head-custom {
  left: 50%;
}
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-head,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-head {
  margin-left: -4px;
}
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-head-custom,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-head-custom {
  margin-left: 1px;
}
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-left .'ant-timeline'-item-content,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-left .'ant-timeline'-item-content {
  left: 50%;
  width: 50%;
  text-align: left;
}
.main-container .archive .ant-timeline.'ant-timeline'-alternate .'ant-timeline'-item-right .'ant-timeline'-item-content,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-right .'ant-timeline'-item-content {
  right: 50%;
  left: -30px;
  width: 50%;
  margin-right: 18px;
  text-align: right;
}
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-right .'ant-timeline'-item-tail,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-right .'ant-timeline'-item-head,
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-right .'ant-timeline'-item-head-custom {
  left: 100%;
}
.main-container .archive .ant-timeline.'ant-timeline'-right .'ant-timeline'-item-right .'ant-timeline'-item-content {
  right: 0;
  left: -30px;
  width: 100%;
}
.main-container .archive .ant-timeline.main-container .archive .ant-timeline-pending .main-container .archive .ant-timeline-item-last .main-container .archive .ant-timeline-item-tail {
  display: block;
  border-left: 2px dotted #e8e8e8;
}
.main-container .archive .ant-timeline.main-container .archive .ant-timeline-reverse .main-container .archive .ant-timeline-item-last .main-container .archive .ant-timeline-item-tail {
  display: none;
}
.main-container .archive .ant-timeline.main-container .archive .ant-timeline-reverse .main-container .archive .ant-timeline-item-pending .'ant-timeline'-item-tail {
  display: block;
  border-left: 2px dotted #e8e8e8;
}
.main-container .archive .ant-timeline.main-container .archive .ant-timeline-reverse .main-container .archive .ant-timeline-item-pending .'ant-timeline'-item-content {
  min-height: 48px;
}
/*# sourceMappingURL=Archive.css.map */